.vs
/BaseLayer/BaseLayer.csproj
/BaseLayer/BaseLayer.csproj.user
/BaseLayer/bin
/BaseLayer/obj
/HelperUtility/HelperUtility.csproj
/HelperUtility/HelperUtility.csproj.user
/HelperUtility/bin
/HelperUtility/obj
/InterfaceLayer/InterfaceLayer.csproj.user
/InterfaceLayer/bin
/InterfaceLayer/obj
/InterfaceLayer/InterfaceLayer.csproj
/LogicLayer/LogicLayer.csproj.user
/LogicLayer/bin
/LogicLayer/obj
/LogicLayer/LogicLayer.csproj
/ManagerLayer/UpdateManagerLayer.csproj
/ManagerLayer/UpdateManagerLayer.csproj.user
/ManagerLayer/bin
/ManagerLayer/obj
/Model/Model.csproj
/Model/Model.csproj.user
/Model/bin
/Model/obj
/WSCATProject/obj
/WSCATProject/WSCATProject.csproj
/WSCATProject/WSCATProject.csproj.user
/WSCATProject/bin
