/WSCATProject/obj/Debug/DesignTimeResolveAssemblyReferences.cache
/WSCATProject/obj/Debug/TempPE/Properties.Resources.Designer.cs.dll
/BaseLayer/obj/Debug/BaseLayer.csprojResolveAssemblyReference.cache
/BaseLayer/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/HelperUtility/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/HelperUtility/obj/Debug/HelperUtility.csprojResolveAssemblyReference.cache
/InterfaceLayer/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/InterfaceLayer/obj/Debug/InterfaceLayer.csprojResolveAssemblyReference.cache
/LogicLayer/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/LogicLayer/obj/Debug/LogicLayer.csprojResolveAssemblyReference.cache
/ManagerLayer/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/ManagerLayer/obj/Debug/UpdateManagerLayer.csprojResolveAssemblyReference.cache
/Model/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/WSCATProject/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/WSCATProject/obj/Debug/WSCATProject.csproj.GenerateResource.Cache
/WSCATProject/obj/Debug/WSCATProject.csprojResolveAssemblyReference.cache
/BaseLayer/bin/Debug/BaseLayer.dll
/BaseLayer/obj/Debug/BaseLayer.dll
/InterfaceLayer/bin/Debug/BaseLayer.dll
/InterfaceLayer/bin/Debug/InterfaceLayer.dll
/InterfaceLayer/bin/Debug/LogicLayer.dll
/InterfaceLayer/bin/Debug/UpdateManagerLayer.dll
/InterfaceLayer/obj/Debug/InterfaceLayer.dll
/LogicLayer/bin/Debug/BaseLayer.dll
/LogicLayer/bin/Debug/LogicLayer.dll
/LogicLayer/bin/Debug/UpdateManagerLayer.dll
/LogicLayer/obj/Debug/LogicLayer.dll
/ManagerLayer/bin/Debug/BaseLayer.dll
/ManagerLayer/bin/Debug/UpdateManagerLayer.dll
/ManagerLayer/obj/Debug/UpdateManagerLayer.dll
/WSCATProject/bin/Debug/BaseLayer.dll
/WSCATProject/bin/Debug/InterfaceLayer.dll
/WSCATProject/bin/Debug/LogicLayer.dll
/WSCATProject/bin/Debug/UpdateManagerLayer.dll
/WSCATProject/bin/Debug/WSCATProject.exe
/WSCATProject/obj/Debug/WSCATProject.exe
/BaseLayer/bin/Debug/BaseLayer.pdb
/BaseLayer/obj/Debug/BaseLayer.pdb
/InterfaceLayer/bin/Debug/BaseLayer.pdb
/InterfaceLayer/bin/Debug/InterfaceLayer.pdb
/InterfaceLayer/bin/Debug/LogicLayer.pdb
/InterfaceLayer/bin/Debug/UpdateManagerLayer.pdb
/InterfaceLayer/obj/Debug/InterfaceLayer.pdb
/LogicLayer/bin/Debug/BaseLayer.pdb
/LogicLayer/bin/Debug/LogicLayer.pdb
/LogicLayer/bin/Debug/UpdateManagerLayer.pdb
/LogicLayer/obj/Debug/LogicLayer.pdb
/ManagerLayer/bin/Debug/BaseLayer.pdb
/ManagerLayer/bin/Debug/UpdateManagerLayer.pdb
/ManagerLayer/obj/Debug/UpdateManagerLayer.pdb
/WSCATProject/bin/Debug/BaseLayer.pdb
/WSCATProject/bin/Debug/InterfaceLayer.pdb
/WSCATProject/bin/Debug/LogicLayer.pdb
/WSCATProject/bin/Debug/UpdateManagerLayer.pdb
/WSCATProject/bin/Debug/WSCATProject.pdb
/WSCATProject/obj/Debug/WSCATProject.pdb
/WSCATProject/obj/Debug/WSCATProject.Properties.Resources.resources
/.vs/WSCATProject/v14/.suo
/WSCATProject/obj/Debug/WSCATProject.csproj.FileListAbsolute.txt
/BaseLayer/obj/Debug/*.cache
/HelperUtility/obj/Debug/*.cache
/InterfaceLayer/obj/Debug/*.cache
/LogicLayer/obj/Debug/*.cache
/ManagerLayer/obj/Debug/*.cache
/Model/obj/Debug/*.cache
/WSCATProject/obj/Debug/*.cache
/WSCATProject/obj/Debug/*.Cache
/BaseLayer/bin/Debug/*.dll
/BaseLayer/obj/Debug/*.dll
/InterfaceLayer/bin/Debug/*.dll
/InterfaceLayer/obj/Debug/*.dll
/LogicLayer/bin/Debug/*.dll
/LogicLayer/obj/Debug/*.dll
/ManagerLayer/bin/Debug/*.dll
/ManagerLayer/obj/Debug/*.dll
/WSCATProject/bin/Debug/*.dll
/WSCATProject/obj/Debug/TempPE/*.dll
/WSCATProject/bin/Debug/*.exe
/WSCATProject/obj/Debug/*.exe
/BaseLayer/bin/Debug/*.pdb
/BaseLayer/obj/Debug/*.pdb
/InterfaceLayer/bin/Debug/*.pdb
/InterfaceLayer/obj/Debug/*.pdb
/LogicLayer/bin/Debug/*.pdb
/LogicLayer/obj/Debug/*.pdb
/ManagerLayer/bin/Debug/*.pdb
/ManagerLayer/obj/Debug/*.pdb
/WSCATProject/bin/Debug/*.pdb
/WSCATProject/obj/Debug/*.pdb
/WSCATProject/obj/Debug/*.resources
/.vs/WSCATProject/v14/*.suo
/WSCATProject/obj/Debug/*.txt
