/WSCATProject/obj
/WSCATProject/bin
/PadDataDispose/obj
/PadDataDispose/bin
/Model/obj
/Model/bin
/ManagerLayer/bin
/ManagerLayer/obj
/LogicLayer/bin
/LogicLayer/obj
/InterfaceLayer/bin
/InterfaceLayer/obj
/HelperUtility/obj
/HelperUtility/bin
/BaseLayer/bin
/BaseLayer/obj
/.vs
